.f9wishlist-add-to-wishlist {
  position: relative;

  a {
    position: absolute;
    z-index: 10;
    margin: 0;
    left: (10em/14);
    top: (10em/14);
  }

  svg {
    width: (25.6em/14);
    height: auto;
    vertical-align: middle;
    filter: grayscale(1);
  }
}
